*{
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
    background-color: #222;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crudes{
    margin: auto;
    width: 80%;
}

.crudes h2,p {
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
.head{
    margin: 30px ;

}
.price{
    width: 100%;
}
#title{
    width: 100%;
}
.price input{
    margin: 4px;
    width: 20%;
   
}
input{
    background-color: #111;
    color: white;
    padding:15px 4px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 4px 0;
}
input:focus{
    transform: scale(1.05);
}
#total{
    background-color: rgba(165, 42, 42, 0.823);
    padding: 8px;
    border-radius: 5px;
}
#total::before{
content: "total : ";
}
#count,#category{
    width: 100%;
}
button{
    background-color: rgba(140, 0, 255, 0.202);
    color: white;
    cursor: pointer;
    padding:6px 8px;
    border-radius: 10px;
    border: none;
    transition: .5s;
    font-size: 15px;
    text-align: center;
}
button:hover{
    letter-spacing: 1px;
       background-color: rgba(140, 0, 255, 0.428);

}
#create{
    width: 100%;
}
/* .search input
{
    width: 100%;
}
.searchbtn button{
    width: 45%;
}
.searchbtn{
    display: flex;
    justify-content: space-between;
} */
table{
    text-align: center;
    margin: 10px 0;
    width: 100%;
}
.tablebtn {
    padding: 20px 4px;
}
table th{
   padding-bottom: 10px;
    text-transform: uppercase;
}
#deleteall button{
    width: 100%;
    margin: 20px 0;
}
table td{
    padding: 3px;
}
td button{
    width: 80px;
}